<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style-large.css" />
    <title>Solar Powered Media</title>
    <meta name="author" content=" Solar Powered Media" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Solar Powered Media" />
    <meta name="twitter:description" content="A solar powered server at NYU" />
    <meta name="twitter:image" content="images/full-images/logo.gif" />
    <meta property="og:title" content="Solar Powered Media" />
    <meta property="og:image" content="images/full-images/logo.gif" />
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="icon" href="favicon.png" />
    <style>
          {% if batteryPercentage >= 30 %}
          {% else %}
          header h1 a{ color: black; }
          header {color: black; }
          {% endif %}
          a:hover { color: {{bgColor}} };


    </style>
  </head>
    <body>
      <div class="container">
        <!-- top -->
        <div class="header menu">
            <h1>Solar Powered Media</h1>
        </div>
        <div class="nav menu">
            <nav>
                <ul class="no-bullets">
                    <li><a href="index.html">About</a></li>
                    <li><a href="design-research.html">Design Research</a></li>
                    <li><a href="resources.html">Resources</a></li>
                    <li><a href="outputs.html">Outputs</a></li>
                    <li><a href="system-data.html">System data</a></li>
                </ul>
            </nav>
        </div>
        {% if batteryPercentage >= 40 %}
          <div class="requests menu">
                    <div class="stats-requests">### requests in the past hour · ### data transferred today</div>
        </div>
        {% else %}
        {% endif %}
        <!-- side panel -->
        <div class="panel">
            {% if batteryPercentage >= 40 %}
            <div class="battery-status box">
            {% else %}
            <div class="battery-status box" style="height: unset;">
            {% endif %}
                <h3>server battery status</h3>
                <h1 class="stats-res">{{batteryPercentage}}%</h1>
                {% if batteryPercentage >= 40 %}
                  <h1 class="stats-res">Hi-res mode</h1>
                  <p class="stats-res-desc">In hi-res mode the site shows detailed images and updates faster.</p>
                  
                {% else %}
                  <h1 class="stats-res">Low-res mode</h1>
                  <p class="stats-res-desc">Battery power is limited right now. The website will show smaller media and update slower.</p>
                {% endif %}
                
                <p>Last updated
                <span class="stats-mins">{{time}}</span></p>
            </div>
            {% if batteryPercentage >= 40 %}
            <div class="photo box image" role="img" aria-label="Photo of Brooklyn, NY where the solar panel is located">
                <p>{{city}} {{time}} ({{zone}})</p>
            </div>
            <div class="weather box">
                <h3>this website is coming from</h3>
                <h1>Brooklyn, USA</h1>
                <div class ="weather-flex">
                    <p class="stats-weather"><i class = "fas fa-cloud-sun"></i>{{weather}}</p>
                    <p class="stats-temp"><i class = "fas fa-temperature-high"></i>{{temp}}°F</p>
                    <p class="stats-sunrise"><i class = "fas fa-temperature-high"></i>{{sunrise}}</p>
                    <p class="stats-sunset"><i class = "fas fa-temperature-high"></i>{{sunset}}</p>
                </div>
                <p>Last updated <div class="stats-mins">{{time}}</div></p>
            </div>
            <div class="convert button box"><p>convert to low res mode</p></div>
            {% else %}
            {% endif %}
        </div>
        <!-- scrollable content -->
        <section class="scrollable">
            {% block content %}
            {% endblock %}
        </section>
    </div>
  </body>
</html>
