{% extends "base-template.html" %}
{% block content %}
<div class="content box" style="grid-row:unset;">
  <h2>Research Outputs</h2>
  <h4>Publications</h4>
  <ul>
   <li>Piantella, B., Nathanson, A., Brain, T., & Ohshiro, K. (2020, April). Solar-Powered Server: Designing for a More Energy Positive Internet. In Extended Abstracts of the 2020 CHI Conference on Human Factors in Computing Systems (pp. 1-4).</li> 
  </ul>
  <h4>Projects</h4>
  <ul>
   <li>Tega Brain, Alex Nathanson and Benedetta Piantella and volunteers. Solar Protocol (2021). Online: <a href="http://solarprotocol.net/">http://solarprotocol.net/</a></li> 
  </ul>
  <h4>Pedagogy</h4>
  <ul>
   <li>Energy-centered design syllabus module for the graduate UX Design Class, Integrated Digital Media, New York University.</li> 
   <li><a href="https://engineering.nyu.edu/research/vertically-integrated-projects/vip-teams/solar-powered-media-project">Vertically Integrated Project (VIP) on Solar Powered Media</a>, Tandon School of Engineering, New York University.</li> 
  </ul>
  <h4>Talks and Events</h4>
  <ul>
    <li>Research seminar: <a href="https://cusp.nyu.edu/events/">Solar Protocol: Reimagining The Internet Through Natural Logic” with Tega Brain and Benedetta Piantella, NYU Tandon. </a></li> 
    <li>Interactive Demo: Piantella, B., Nathanson, A., Brain, T., & Ohshiro, K. Solar-Powered Medai, <a href="https://chi2021.acm.org/deadlines/3021.html">2021 CHI Conference on Human Factors in Computing Systems, May 11th, 2021.</a></li> 
   </ul>
  
</div>
{% endblock %}

