{% extends "base-template.html" %}
{% block content %}
<div class="content box" style="grid-row:unset;">
  <h2>System Data</h2>
  <p>Server energy data from the last 24 hours.</p>
  <h4>Battery</h4>
  <h3>Battery Percentage</h3>
  <img src="images/battery percentage_graph.png" alt="Graph showing sunlight levels over the past 24 hours" class="responsive2">
  <h4>Photovoltaic</h4>
  <h3>PV Power L</h3>
  <img src="images/PV power L_graph.png" alt="Graph showing sunlight levels over the past 24 hours" class="responsive2">
  <h4>Load</h4>
  <h3>Load Voltage</h3>
  <img src="images/load voltage_graph.png" alt="Graph showing sunlight levels over the past 24 hours" class="responsive2">

</div>
{% endblock %}

